# Directories
/.idea/
/.vscode/
/bin/
/cmake-build-debug/
/Debug/
/x64/

# File Extensions
*.com
*.class
*.dll
*.exe
*.o
*.out
*.so

# Specific Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
CMakeLists.txt
Thumbs.db